// $mainGreen #0FE3AF;

:root {
    --main-blue: #0152A8;
    --main-green: #0FE3AF;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #0152A8;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
}

.top-bar a {
    color: #ffffff;
}

.top-bar .icon {
    display: inline-block;
    background-color: #095FBA;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.top-bar .icon.icon-phone {
    background-image: url("../img/icon/phone.svg");
}

.top-bar .icon.icon-mail {
    background-image: url("../img/icon/mail.svg");
}

.btn-main-green {
    display: inline-block;
    background-color: var(--main-green);
    padding: 16px 36px;
    text-decoration: none;
}

.btn-main-blue {
    display: inline-block;
    background-color: var(--main-blue);
    padding: 16px 36px;
    text-decoration: none;
    color: #ffffff;

    &-outline {
        border: 1.5px solid #0152A8;
        padding: 5px;
        background-color: DFDFDF;


    }
}

.service-card {
    position: relative;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
    border-radius: 4px;
}

.service-card-content {
    padding: 45px 30px;
}

.service-card-showcase {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
}

.service-card:hover .service-card-showcase {
    visibility: visible;
    opacity: 1;
}

.service-card-img {
    width: 54px;
    height: 54px;
}

.service-card-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #1C1C1C;
}

.service-card-desc {
    color: #545454;
    font-size: 0.95rem;
}

.service-card-link {
    display: flex;
    align-items: center;
    color: #363636;
}

.service-card-link::after {
    content: "";
    display: inline-block;
    background-image: url("../img/icon/plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.section-service-title {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 0.5px solid #CECECE;
    padding: 5px 10px;
    transition: all 300ms;
    margin-bottom: 10px;
}

.section-service-title:hover {
    background-color: #f1f1f1;
}

.call-center {
    background-image: url("../img/background/call-center.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 110px 0;
}

.call-center-card {
    background-color: #ffffff;
    padding: 55px;
}

.call-center-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid #0FE3AF;
    border-radius: 50%;
    flex-shrink: 0;
}

.call-center-card-icon .card-icon-1 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/document.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.call-center-card-icon .card-icon-2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/time.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.meeting-wrapper {
    background-color: var(--main-blue);
    background-image: url(../img/background/right-group.png), url(../img/background/left-group.png);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 100px 2rem;

}

.meeting-wrapper-content {
    max-width: 500px;
    color: #ffffff;
}

.special-care-list {
    padding-left: 0;
}

.special-care-list li {
    display: block;
    background-image: url(../img/icon/vector.svg);
    background-repeat: no-repeat;
    list-style: none;
    background-position: left center;
    padding-left: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.special-care-images {
    position: relative;
    display: flex;
    height: 100%;
}

.special-care-images-content {
    background-color: #000;
    position: absolute;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
}

.feedback-card {
    background-color: #F1F1F1;
    padding: 50px;
    margin-bottom: 15px;
}

.icon-star {
    display: inline-block;
    background-image: url(../img/icon/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;

    &.active {
        background-image: url(../img/icon/star-active.svg);

    }
}

.why-choose-us {
    background-color: #DCEDFE;
    background-image: url(../img/background/shape1-background.png), url(../img/background/shape2-background.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    padding: 120px 0;

    &-url {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 910px;
        column-gap: 50px;
        row-gap: 40px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        a {
            color: #0152A8;
            display: inline-flex;
            align-items: center;

            &::before {
                content: "";
                background-image: url(../img/icon/Tick.svg);
                width: 20px;
                height: 20px;
                display: inline;
                margin-right: 5px;
                background-size: contain;
                background-position: center;
            }

            &::after {
                content: "";
            }

        }
    }
}

.bg-main-blue {
    background-color: #0152A8;
}

.bg-main-green {
    background-color: var(--main-green);
}

.team-card {
    background-color: #004a99;
    padding: 30px;

    &-img {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
        }

    }

    &-title {
        color: #ffffff;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }

    &-desc {
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }

    &-social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        gap: 15px;

        a {
            display: inline block;
            width: 20px;
            height: 20px;
            color: #ffffff;
            text-decoration: underline;
            background-repeat: no-repeat;
            background-size: contain;
            align-items: center;

            &.icon-instagram {
                background-image: url("../img/icon/icon-instagram.svg");
            }

            &.icon-facebook {
                background-image: url("../img/icon/icon-facebook.svg");
            }

            &.icon-twitter {
                background-image: url("../img/icon/icon-twitter.svg");
            }
        }
    }
}

// .slider-main-wrapper {
//     .swiper-slide {
//         .slider-main {
//             .slider-main-content {
//                 visibility: hidden;
//                 opacity: 0;
//             }

//             &-active {
//                 visibility: visible;
//                 opacity: 1;
//             }

//             --slider-height: 80vh;

//             &-content {
//                 position: absolute;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 15px;
//                 max-width: 500px;

//                 top: 50%;
//                 height: var(--slider-height);

//                 &-top-info {
//                     display: inline-block;
//                     padding: 3px 10px;
//                     // background-color: $mainGreen;s
//                     background-color: var(--main-green);
//                     letter-spacing: 1px;
//                     text-transform: uppercase;
//                     color: #1C1C1C;
//                 }

//                 &-title {
//                     background-color: var(--main-green);
//                     font-size: 3.5rem;
//                     font-weight: 700;
//                     color: #1C1C1C;
//                     line-height: 120%;
//                 }

//                 &-desc {
//                     font-size: 1rem;
//                     color: #1C1C1C;
//                 }
//             }

//             &-img {
//                 width: 100%;
//                 height: var(--slider-height);
//                 object-fit: contain;
//             }
//         }


//     }
// }

.slider-main-wrapper {
    .swiper-slide {
        .slider-main-content {
            visibility: hidden;
            opacity: 0;
        }

        &-active {
            .slider-main-content {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .slider-main {
        --slider-height: 80dvh;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            position: absolute;
            height: var(--slider-height);
            max-width: 500px;
            transition: all 500ms;

            &-top-info {
                display: inline-block;
                background-color: var(--main-green);
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 3px 10px;
                color: #1c1c1c;
            }

            &-title {
                font-size: 3.5rem;
                font-weight: 700;
                color: #143450;
                line-height: 120%;
            }

            &-desc {
                font-size: 1rem;
                color: #1c1c1c;
            }
        }

        &-img {
            width: 100%;
            height: var(--slider-height);
            object-fit: cover;
        }
    }
}

.statistics-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    &-number {
        font-size: 3.5rem;
        font-weight: 700;
        max-width: 150px;
    }
    &-title {
        font-size: 1.1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        max-width: 150px;
    }
}

.article-title {
    padding-left: 18px;
}

.blog-card {
    display: flex;
    margin-bottom: 30px;

    &-img {
        width: 220px;
        margin-right: 30px;

        image {
            width: 100%;
            object-fit: cover;

        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;

        &-time {
            display: inline-block;
            font-weight: 200;
            padding: 5px 20px;
            // border: 1px solid #CECECE;
            font-size: .85rem;
        }

        &-title {
            color: #1c1c1c;
            font-weight: 600;

        }
    }
}

footer {
    background-color: #e5f2ef;
    background-image: url("../img/background/line-1.png"), url("../img/background/line-2.png");
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    padding: 80px 0;
    .footer-sitemap {
        a {
            display: block;
            color: #545454;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
    .footer-link-phone,
    .footer-link-mail {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #545454;
    }
    .icon-phone,
    .icon-mail {
        display: inline-block;
        background-color: var(--main-green);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .icon-phone {
        background-image: url("../img/icon/phone.svg");
    }
    .icon-mail {
        background-image: url("../img/icon/mail.svg");
    }
    .input-newsletter {
        border: none;
        outline: none;
        width: 100%;
        padding: 20px 25px;
        background-color: #ffffff;
    }
    .footer-link-social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        gap: 30px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        i {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 30px;
        }
        .icon-instagram {
            background-image: url("../img/icon/footer-instagram.svg");
        }
        .icon-facebook {
            background-image: url("../img/icon/footer-facebook.svg");
        }
        .icon-twitter {
            background-image: url("../img/icon/footer-twitter.svg");
        }
    }
}